.healthy-color {
    color: green;
    font-size: 4rem;
    padding-left: 65px;
}
.probe-color {
    color: orange;
    font-size: 3rem;
    padding-left: 65px;
}
.disposable-color {
    color:red;
    font-size: 4rem;
    padding-left: 65px;
}
.text-color {
    color:  #4272d7;
    font-size: 18px;
    padding-right: 73.5px;
    margin-left:10px;
}
.number-alignment {
    color:  #4272d7;
    font-size: 30px;
    padding-right: 73.5px;
    margin-left:10px;
    font-weight: bold;
}
.text-alignment {
    display: inline-block;
}
.align {
    float: right;
}