.healthy-color {
    color: green;
}
.probe-color {
    color: orange;
}
.disposable-color {
    color:red;
}
.text-color {
    color:  #4272d7;
    font-size: 18px;
    padding-right: 73.5px;
    margin-left:10px;
}
.number-alignment {
    color:  #4272d7;
    font-size: 30px;
    padding-right: 73.5px;
    margin-left:10px;
    font-weight: bold;
}
.text-alignment {
    display: inline-block;
}
.align {
    float: right;
}

.custom-icon {
    padding-left: 25px;
    font-size: 90px !important;
}

.label {
    font-weight: 300;
}
.ok-background {
    background-color: green !important;
	color: white;
}
.warn-background {
    background-color: orange !important;
	color: white;
}
.error-background {
    background-color: red !important;
	color: white;
}