.head {
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #495057 !important;
    background: #f8f9fa !important;
    transition: box-shadow 0.2s;
}
.text-color {
    color:  #4272d7;
    font-size: 18px;
    padding-right: 73.5px;
    margin-left:10px;
}