<!-- <nav class="navbar">
  <div class="">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="#">Recipes</a></li>
        <li><a href="#">Shopping List</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Save Data</a></li>
            <li><a href="#">Fetch Data</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> -->
<!--nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(64 99 118);">
  <a href="#" class="navbar-brand" style="padding-top: 13px;"><h3>WELCOME ABHISHEK!</h3>
  </a>
  <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>

  <form class="form-inline">
    <input type="text" class="form-control mr-sm-2" placeholder="Search">
    <button type="submit" class="btn btn-outline-light">Search</button>
    <button class="btn btn-default" type="submit">
      <i class="glyphicon glyphicon-search"></i>
    </button>
  </form>

  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ml-auto">
          <a href="#" class="nav-item nav-link "><i class="fa fa-user fa-2x"></i>&nbsp;Profile</a>
          <a href="#" class="nav-item nav-link"><i class="fa fa-cog fa-2x"></i>&nbsp;Account</a>
          <a href="#" class="nav-item nav-link"><i class="fa fa-globe fa-2x"></i>&nbsp;EN</a>
      </div>
  </div>
</nav>
<mat-toolbar class="mat-elevation-z8" style="height:82px; background-color: rgb(67, 105, 171);">
    <a href="#">
        <img src="" height="30" class="d-inline-block align-top"
          alt="mdb logo">
      </a>
    <span class="title-center" style="font-size:30px;">  IMAS</span>
  </mat-toolbar>-->
  <!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark info-color" style="background-color: rgb(67, 105, 171);">
  <a class="navbar-brand" href="#">
    <img src="" height="30" class="d-inline-block align-top"
          alt="mdb logo">
  </a><br>
  <span class="title-center" style="font-size:30px;">  IMAS</span>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button><br><br>
  <div class="search-container search" style="margin-left: 179px;">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit" style="margin-left: 11px;"><i class="fa fa-search fa-10x search"></i></button>
    </form>
  </div>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item"><i class="fa fa-bell fa-10x search"></i></li>      
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle profile-user" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-10x profile-user"></i> Profile </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="#">Account</a>
          <a class="dropdown-item" href="#">Setting</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->