.header {
    height: 100px;
    margin-top: -16px;
    padding: 12px;
    font-weight: bold;
    background-color: #4e73df;
}

.header--title {
    color: white;
    margin-top: 25px;
    margin-left: 25px;
}

.icon-imas {
    display: contents;
    margin-top: 18px;
}

.main-header__logo {
    height: 50px;
    width: 110px;
    margin: 0 16px;
}

.loading {
    margin-top: 20%;
    display: block;
    margin-left: 45%;
}

.options-icon {
    color: white;
    display: inline-block;
}

.options-menu {
    position: absolute;
    right: 30px;
    top: 30px;
}

*:focus {
    outline: 0;
}