<header class="header row">
	<div class="">
		
		<h2 class="col-4 header--title">
			<span>
				<i class="fa fa-cube icon-imas"></i>
				<span style="margin-left: 20px;">IMAS</span>
			</span>
		</h2>
	  </div>
	  <div class="options-menu float-right" >
		<button mat-icon-button [matMenuTriggerFor]="menu"
			aria-label="Example icon-button with a menu">
		  <span class="options-icon"><mat-icon>more_vert</mat-icon></span>
		</button>
		<mat-menu #menu="matMenu">
		  <button mat-menu-item>
			<mat-icon>person</mat-icon>
			<span>Profile</span>
		  </button>
		  <button mat-menu-item disabled>
			<mat-icon>mood</mat-icon>
			<span>Feedback</span>
		  </button>
		  <button mat-menu-item>
			  <mat-icon>notifications</mat-icon>
			  <span>Notifications</span>
			</button>
		  <button mat-menu-item (click)="logout()">
			<mat-icon>directions_run</mat-icon>
			<span>Logout</span>
		  </button>
		</mat-menu>
	</div>
</header>