.side-nav__custom {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-top: 2px solid white;
  padding-top: 15px;
  width: 16vw !important;
  height: 100%;
  position: fixed;
  background-color: #1f1f1f !important
}
.side-nav__custom li ul.level_1{
  display: none;
}
.side-nav__custom li.active ul.level_1{
  display: block;
}
a {
  cursor: pointer;
}

.sb-heading {
  font-weight: 500;
  font-size: 1.2rem;
}

.icon {
  color: white;
  font-size: 10px !important;
  margin-left: 35px;
}

.name {
  position: absolute;
  left: 60px;
  top: 16px;
  font-size: 18px !important;
  margin-left: 40px;
  font-weight: 100;
  color: white;
}
.sidebar .nav-item.active .nav-link {
  font-weight: normal !important;
}
.sidebar .nav-item.active > .nav-link {
  color: #fff !important;
  font-weight: 400 !important;
}