<!--nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(67, 105, 171);">
    <a href="#">
        <img src="" height="30" class="d-inline-block align-top"
          alt="mdb logo">
      </a>
    <span class="title-center" style="font-size:30px;">  IMAS</span>
</nav>-->
<!--mat-toolbar class="mat-elevation-z8" style="height:82px; background-color: rgb(67, 105, 171);">
    <a href="#">
        <img src="" height="30" class="d-inline-block align-top"
          alt="mdb logo">
      </a>
    <span class="title-center" style="font-size:30px;">  IMAS</span>
  </mat-toolbar>-->
<div class="flex-container">
    <div class="" style="margin-left: -14px !important">
        <div class="" style="border:none;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item border-list-items" style="text-align: left;padding-left: 5%;">
              <div><i class="fa fa-tachometer fa-10x icon-color" style="color:blue" aria-hidden="true"></i>&nbsp;&nbsp;<span class="card-font-color" style="color:blue">Dashboard</span></div>
              </li>
              <li class="list-group-item border-list-items" style="text-align: left;padding-left: 5%;">
              <span><i class="fa fa-bar-chart fa-10x icon-color" aria-hidden="true"></i>&nbsp;&nbsp;<span class="card-font-color">Report</span></span>
              </li>
              <li class="list-group-item border-list-items" style="text-align: left;padding-left: 5%;">
              <span><i class="fa fa-exclamation-triangle fa-10x icon-color" aria-hidden="true"></i>&nbsp;&nbsp;<span class="card-font-color">Alerts</span></span>
              </li>
              <li class="list-group-item border-list-items" style="text-align: left;padding-left: 5%;">
              <span><i class="fa fa-comments fa-10x icon-color" aria-hidden="true"></i>&nbsp;&nbsp;<span class="card-font-color">FAQ's</span></span>
              </li>
              <li class="list-group-item border-list-items" style="text-align: left;padding-left: 5%;padding-top:45%">
              <span><i class="fa fa-headset fa-6x icon-color" aria-hidden="true"></i>&nbsp;&nbsp;<span class="card-font-color">ASK IRA</span></span>
              </li>
            </ul>
          </div>
    </div>
    </div>