.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flex-container > div {
  background-color: #f1f1f1;
  width: 90%;
  margin: 10px;
  height: 100%;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
.icon-color {
    color: gold;
}
.card-font-color {
    color: white;
    font-weight: 450;
}
.box-part {
    background-color: rgb(50, 87, 168);
    text-align: left;
    padding-left: 20px;
}
.card-body {
    padding: 0.25rem;
}
.side-nav__custom {
  border-top: 2px solid white;
  padding-top: 15px;
}

a {
  cursor: pointer;
}

.sb-heading {
  font-weight: 500;
  font-size: 0.9rem;
}

.custom-card {
  background-color: rgb(64 99 118) !important;
}