<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion side-nav__custom" id="accordionSidebar">
  <li class="nav-item" *ngFor="let type of types" (click)="routeToPage(type)">
        <a class="nav-link"  [ngClass]="{'active': type.active}">
            <span class="icon"><mat-icon aria-hidden="false" aria-label="Example home icon">{{ type.icon }}</mat-icon></span>
            <span class="name">{{ type.name }}</span>
        </a>
        <hr class="sidebar-divider">
    </li>
</ul>