<div class="flex-container">
    <div class="card custom-card">
        <div class="" style="text-align: left;padding-left: 5%;">
            <div><i class="fa fa-bell fa-1x icon-color" aria-hidden="true"></i>&nbsp;&nbsp;<span class="card-font-color">Notifications</span></div>
        </div>
    </div>
    <div class="card custom-card">
        <div class="" style="text-align: left;padding-left: 5%;">
            <span><i class="fa fa-bar-chart fa-1x icon-color" aria-hidden="true"></i>&nbsp;&nbsp;<span class="card-font-color">Report</span></span>
        </div>
    </div>
    <div class="card custom-card">
        <div class="" style="text-align: left;padding-left: 5%;">
            <span><i class="fa fa-cloud-upload fa-1x icon-color" aria-hidden="true"></i>&nbsp;&nbsp;<span class="card-font-color">Sync to Cloud</span></span>
        </div>
    </div>
    <div class="card custom-card">
        <div class="" style="text-align: left;padding-left: 5%;">
            <span><i class="fa fa-info-circle fa-1x icon-color" aria-hidden="true"></i>&nbsp;&nbsp;<span class="card-font-color">FAQ's</span></span>
        </div>
    </div> 
    <div class="card" style="background-color: white;">
        <div class="card-body">
            <span><i class="icon-lightbulb fa-1x" aria-hidden="true"></i>&nbsp;&nbsp;<span class="">ASK IRA</span></span>
        </div>
    </div>  
</div>