
.side-nav__custom {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  border-top: 2px solid white;
  padding-top: 15px;
  width: 16vw !important;
  height: 100%;
}

a {
  cursor: pointer;
}

.sb-heading {
  font-weight: 500;
  font-size: 1.2rem;
}

.icon {
  color: white;
  /* margin-right: 8px; */
  font-size: 10px !important;
}

.name {
  position: absolute;
  left: 60px;
  top: 14px;
  font-size: 18px !important;
}

.active {
  color: #fff !important;
  font-weight: 500;
}