.flex-container {
    display:flex;
}
.loginPage {
    background-image: linear-gradient(to right, rgba(0,0,255,0.3), rgba(0,0,255, 0.1));
    background-size: cover;
    height: 100vh;
    color: white;
}

.dashboard {
    margin-bottom: 20px;
}

.router {
    padding-top: 10px;
}