<div class="clearfix">
    <app-header></app-header>
    <div>
        <div class="col-sm-3" style="max-width: 35.33333%;margin-top: 6%;">
            <app-left-panel></app-left-panel>
        </div>
        <div class="col-sm-6 clearfix" style="max-width: 64%;">
            <div class="col-sm-12 clearfix" style="margin-left: -10%;">
                <app-dashboard></app-dashboard>
            </div>
            <div class="clearfix">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>



