<div class="clearfix font-style" style="padding-top: 85px;">
    <app-header></app-header>
    <div id="wrapper" style="padding-bottom: 30px;">
        <div class="row col-12">
            <div class="col-2" style="padding-left: 0;">
                <app-left-panel></app-left-panel>
            </div>
            <div class="col-10"> 
                <div class="">
                    <router-outlet></router-outlet>
                </div>          
            </div>
        </div>
    </div>
</div>



