<div class="clearfix font-style">
    <app-header></app-header>
    <div id="wrapper" style="background-color: #eeeeee;">
        <div class="row col-12">
            <div class="col-2" style="padding-left: 0;">
                <app-left-panel></app-left-panel>
            </div>
            <div class="col-10" style="margin-top: 1%;"> 
                <div class="" style="margin-bottom: 3%;">
                    <router-outlet></router-outlet>
                </div>          
            </div>
        </div>
    </div>
</div>



