<div class="row" style="padding-left: 20px;">
  <div class="header">
    <span>Forecast</span>
  </div>
  <div class="row col-12">
    <div class="canvas-area" (click)="showMouldToAssess()">
      <div class="details">
        <span>Moulds Assessment Recommended for Today</span>
        <div class="date-picker">
          <mat-form-field appearance="fill">
            <input matInput [matDatepicker]="picker1" [formControl]="date" (dateChange)="onDateChange($event)">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="">
        
        <canvas id="horizontalBar" #horizontalBar width="16% !important" height="8% !important"></canvas>
      </div>
    </div>
    <div class="canvas-area">
      <div class="details">
        <span>Mould Status - Forecast</span>
      </div>
      <div class="">
        <canvas id="lineChart" #lineChart width="16% !important" height="8% !important"></canvas>
      </div>
    </div>
  </div>
  <div class="header">
    <span>Assessment Result</span>
  </div>
  <div class="row col-12">
    <div class="canvas-area" (click)="showResults()">
      <div class="details">
        <span>Today's assessment</span>
      </div>
      <div class="">
        <canvas id="pieChart" #pieChart width="16% !important" height="8% !important"></canvas>
      </div>
    </div>
    <div class="canvas-area">
      <div class="details">
        <span>Historical Data</span>
      </div>
      <div class="">
        <canvas id="interpolation" #interpolation width="16% !important" height="8% !important"></canvas>
      </div>
    </div>
  </div>
</div>