/* You can add global styles to this file, and also import other style files */

@import "sb-admin2.scss";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    box-sizing: border-box;
}
html, body { height: 100%; }

.snackbar {
    font-size: 60px !important;
    margin-top: 10vh !important;
    background-color: orangered;
    color: white;
    margin-left: -32vw !important;
}

.snackbar .mat-simple-snackbar-action {
    color: white;
}