.flex-container {
  display: flex;
  justify-content: center;
  background-color: DodgerBlue;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  font-size: 30px;
}
.healthy-color {
color: green;
font-size: 3.5rem;
}
.probe-color {
color: yellow;
font-size: 3.5rem;
}
.disposable-color {
color:red;
font-size: 3.5rem;
}
.text-color {
color:blue;
font-size: 20px;
}
.col-space {
  margin:10px; padding:10px; 
}
.th-header-font-family {
  font-family: "Poppins", sans-serif;
}