<header class="header-desktop">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
  <div class="header-wrap">
  <form class="form-header" style="padding-left: 61px;" action="" method="POST">
  <input class="au-input au-input--xl" type="text" name="search" placeholder="Search for datas &amp; reports...">
  <button class="fa fa-search fa-10x au-btn--submit" type="submit">
  <i class="zmdi zmdi-search"></i>
  </button>
  </form>
  <div class="header-button">
  <div class="noti-wrap" style="margin-top: -11px !important;">
  <div class="noti__item js-item-menu">
    <li class="nav-item"><i class="fa fa-bell fa-10x search"></i></li>
  <span class="quantity">3</span>
  <div class="notifi-dropdown js-dropdown">
  </div>
  </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">   
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle profile-user" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user fa-10x profile-user"></i> Abhishekh</a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="#">Account</a>
          <a class="dropdown-item" href="#">Setting</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li>
    </ul>
  </div>
  </div>
  </div>
  </div>
  </div>
</header>
  <div class="clearfix">
    <div class="container table-shadow">
      <div class="card-header" style="background-color: white">
        <span class="text-color">Assessment Report- 28th Aug 2020</span>
      </div>
        <div class="card-group" style="background-color: white">
          <div class="card">
            <div class="card-body">
            <span><i class="fa fa-check-circle-o  fa-6x healthy-color" aria-hidden="true"></i>&nbsp;&nbsp;</span>
            <span class="text-color" style="text-align:center">Healthy</span>
            </div>
            <span class="text-color" style="text-align:center">{{values.healthy}}</span>
          </div>
          <div class="card">
            <div class="card-body">
            <span><i class="fa fa-search  fa-6x probe-color" aria-hidden="true"></i>&nbsp;&nbsp;</span>
            <span class="text-color" style="text-align:center">Need Probe</span>
            </div>
            <span class="text-color" style="text-align:center">{{values.needProbe}}</span>
          </div>
          <div class="card">
            <div class="card-body">
            <span><i class="fa fa-trash  fa-6x disposable-color" aria-hidden="true"></i>&nbsp;&nbsp;</span>
            <span class="text-color" style="text-align:center">Disposable</span>
            </div>
            <span class="text-color" style="text-align:center">{{values.disposable}}</span>
          </div> 
        </div>
    </div>
</div> 
<br>
<div class="">
  <div class="">
    <div class="row" style="display:inherit;">
      <div class="" style="">
        <div class="col-md-4 col-sm-4" style="background-color: white;border-radius: 19px !important;box-shadow: 3px 4px 3px 0px burlywood;margin-left: 7% !important">    
          <div class="chart1">
            <canvas id="myChart" width="30% !important" height="20% !important"></canvas>
          </div>      
        </div>
      </div>
      <div class="">
        <div class="col-md-4 col-sm-4">
          <div class="container" style="background-color: white;border-radius: 19px !important;box-shadow: 3px 4px 3px 0px burlywood;margin-left: 7% !important">
            <div>
              <canvas id="myChart2" width="30% !important" height="22% !important"></canvas>
            </div>
          </div>  
      </div>

    </div>            
  </div>  
</div>