<div class="">
  <div class="">
    <div class="row" style="display:inherit;">
      <div class="row justify-content-center">Forecast</div>
      <div class="">
        <div class="col-md-4 col-sm-4" style="background-color: white;border-radius: 19px !important;box-shadow: 3px 4px 3px 0px burlywood;margin-left: 7% !important">    
          <div class="chart1">
            <canvas id="horizontalBar" #horizontalBar width="30% !important" height="20% !important"></canvas>
          </div>      
        </div>
      </div>
      <div class="">
        <div class="col-md-4 col-sm-4">
          <div class="container" style="background-color: white;border-radius: 19px !important;box-shadow: 3px 4px 3px 0px burlywood;margin-left: 40% !important">
            <div>
              <canvas id="lineChart" #lineChart width="30% !important" height="22% !important"></canvas>
            </div>
          </div>  
      </div>
  
    </div>            
  </div> 
  <hr>
  <div class="row" style="display:inherit;">
    <div class="">
      <div class="col-md-4 col-sm-4" style="background-color: white;border-radius: 19px !important;box-shadow: 3px 4px 3px 0px burlywood;margin-left: 7% !important">    
        <div class="chart1">
          <canvas id="pieChart" #pieChart width="30% !important" height="20% !important"></canvas>
        </div>      
      </div>
    </div>
    <div class="">
      <div class="col-md-4 col-sm-4">
        <div class="container" style="background-color: white;border-radius: 19px !important;box-shadow: 3px 4px 3px 0px burlywood;margin-left: 40% !important">
          <div>
            <canvas id="interpolation" #interpolation width="30% !important" height="22% !important"></canvas>
          </div>
        </div>  
    </div>
  
  </div>            
  </div>  
  </div> 