<div class="clearfix">
    <div class="container">
      <div class="card-header" style="background-color: white">
        <span class="text-color">Assessment Report- 19th Aug 2020</span>
      </div>
        <div class="card-group" style="background-color: white">
          <div class="card">
            <div class="card-body">
            <span><i class="fa fa-check-circle-o  fa-6x healthy-color" aria-hidden="true"></i>&nbsp;&nbsp;</span>
            <span class="text-color" style="text-align:center">Healthy</span>
            </div>
            <span class="text-color" style="text-align:center">30</span>
          </div>
          <div class="card">
            <div class="card-body">
            <span><i class="fa fa-search  fa-6x probe-color" aria-hidden="true"></i>&nbsp;&nbsp;</span>
            <span class="text-color" style="text-align:center">Need Probe</span>
            </div>
            <span class="text-color" style="text-align:center">15</span>
          </div>
          <div class="card">
            <div class="card-body">
            <span><i class="fa fa-trash  fa-6x disposable-color" aria-hidden="true"></i>&nbsp;&nbsp;</span>
            <span class="text-color" style="text-align:center">Disposable</span>
            </div>
            <span class="text-color" style="text-align:center">6</span>
          </div> 
        </div>
    </div>
</div>
<!--div class="container-fluid">      
<div class="container-fluid">     
<div class="row">
  <div class="col-md-12" style="background-color: white">
    <span class="text-color">Assessment Report- 19th Aug 2020</span>
  </div>
</div>
</div>
<div class="container-fluid">     
<div class="row" style="background-color: white">
  <div class="col-lg-4">
    <div>
      <span><i class="fa fa-check-circle-o  fa-6x healthy-color" aria-hidden="true"></i>&nbsp;&nbsp;</span>
      <span class="text-color" style="text-align:center">Healthy</span>
      </div>
      <span class="text-color" style="text-align:center">30</span>
  </div>
  <div class="col-lg-4">
    <div>
      <span><i class="fa fa-search  fa-6x probe-color" aria-hidden="true"></i>&nbsp;&nbsp;</span>
      <span class="text-color" style="text-align:center">Need Probe</span>
      </div>
      <span class="text-color" style="text-align:center">15</span>
  </div>
  <div class="col-lg-4">
    <div class="col-lg-2">
      <span class="col-space"><i class="fa fa-trash  fa-6x disposable-color" aria-hidden="true"></i>&nbsp;&nbsp;</span>
      </div>
      <div class="col-lg-2">
        <div class="col-space">
        <span class="text-color" style="text-align:center">Disposable</span>
        <br>
      <span class="text-color" style="text-align:center">6</span>
      </div>
      </div>
  </div>
</div>
</div>
</div>-->
