.flex-container {
    display: flex;
    justify-content: center;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    font-size: 30px;
  }
.icon-color {
  color:black;
  font-size: 3.5rem;
}
.text-color {
  color: white;
  font-size: 30px;
}